:root {
  --color-black: black;
  --cardColor: white;
  --backgroundColor: #dad8df;
  --backgroundColorDark: #c4c4c4;
  --secondColorBg: #fd7166;
  --secondColorBgTextColor: white;
  --activeColor: #6a32ef;
  --activeTextColor: #fff;
  --videoPlayerColor: yellow;
  --weight-regular: 400;
  --weight-bold: 700;
  --weight-semibold: 600;
  --defaultFontColor: black;
  --borderRadius: 0.5rem;
  --border: 0.3rem;
  --titlesize: 2.5rem;
  --broodtekst: 1.6rem;
}

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 36em); /* 576px */
@custom-media --md screen and (min-width: 48em); /* 768px */
@custom-media --lg screen and (min-width: 62em); /* 992px */
@custom-media --xl screen and (min-width: 78.75em); /* 1260px */
