:root {
  --color-black: black;
  --color-white: white;
  --color-grey: #ccc;
  --color-orange: #fd7166;
  --color-purple: #6a32ef;
  --weight-regular: 400;
  --weight-bold: 700;
}

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 36em); /* 576px */
@custom-media --md screen and (min-width: 48em); /* 768px */
@custom-media --lg screen and (min-width: 62em); /* 992px */
@custom-media --xl screen and (min-width: 78.75em); /* 1260px */
