@import "./css/reset.css";
@import "./css/vars.css";

.progressBarHolder {
  position: relative;
  display: flex;
}
.stepsHolder {
  display: flex;
}
.step {
  margin-left: 5px;
  width: 10px;
  height: 20px;
  background-color: black;
}

.activeStep {
  background-color: red;
}
.contentHolder {
  display: flex;
  position: relative;
  height: 240px;

  & video {
    position: absolute;
  }
}

.timeLine {
  display: flex;
  width: 100%;
  height: 100px;
}

.deel1,
.deel2 {
  height: 100%;
  width: 30px;
  background-color: black;
  margin: 0 10px;
}
.uploadBar {
  position: relative;
  flex: 2;
  min-width: 30%;
  overflow: hidden;

  & input {
    font-size: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  & label {
    width: 100%;
    height: 100%;
    background-color: red;
    display: block;
  }
}

.clipsHolder {
  display: flex;
}
.test {
  height: 200px;
}
.clip {
  position: relative;
  height: 100%;
  background-color: blue;

  & video,
  & img {
    max-height: 100%;
  }

  & p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.uploadBarWithClip {
  flex: 0;
}

.clipHolderWithClips {
  flex: 2;
}

.moveClipBtn {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 10px;
  background-color: orange;
}

.moveClipBtnPrev {
  left: 0;
}

.moveClipBtnNext {
  right: 0;
}

.activeClip {
  border: solid 5px purple;
}

.selectedClip {
  border: solid 5px green;
}

.trimer {
  position: absolute;
  display: block;
  z-index: 5;
  top: -20px;
  width: 20px;
  height: 20px;
  background-color: purple;
}

.trimerStart {
  left: -10px;
}

.trimerEnd {
  right: -10px;
}

.scrubber {
  position: absolute;
  top: -20px;
  left: -10px;
  height: 20px;
  width: 20px;
  background-color: red;
}

.trimmerWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.videoTrimmer {
  display: inline-block;
}

.trimmerTimeLine {
  width: 100%;
  height: 50px;
  background-color: blue;
}

.videoLength {
  position: relative;
  height: 100%;
  background-color: black;
}

.hide {
  display: none;
}
